{% extends "base.html" %} {% block content %}
<h2>{% if producto %}Editar{% else %}Nuevo{% endif %} Producto</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.nombre.label }} {{ form.nombre(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.descripcion.label }} {{ form.descripcion(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.precio.label }} {{ form.precio(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.stock.label }} {{ form.stock(class="form-control") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
