{% extends "base.html" %} {% block content %}
<h2>Registro</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.nombre.label }} {{ form.nombre(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.email.label }} {{ form.email(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.password.label }} {{ form.password(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.password2.label }} {{ form.password2(class="form-control") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
